
/* main roles */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;

}

body {
  padding-top: 60px;
  height: 3000px
}

h1 {
  color: red
}
