
/* main roles */


body {
  padding-top: 60px;
  height: 3000px
}

/* main navbar */
.navbar {
  min-height: 61px;
  
}

/* navbar link*/

.navbar-inverse .navbar-nav > li > a {
  color: #BBB;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
}
/* navbar brand */
.navbar-inverse .navbar-brand{
  color: #bbb;
  font-size: 30px;
  line-height: 40px
}

/* dropdown-menu */
.dropdown-menu {
  background-color: #333;
  min-width: 200px;
}
.dropdown-menu li a {
  color: #fff;
  padding: 6px 20px;
  transition: padding .5s ease;
  -webkit-transition: padding .5s ease;
  -moz-transition: padding .5s ease;
  -o-transition: padding .5s ease;
}
/* dropdown-menu-hover */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  padding-left: 25px
}

/* navbar-toggle */

.navbar-inverse .navbar-toggle {
  margin-top: 15px
}
.navbar-inverse .navbar-nav > .active >
 a, .navbar-inverse .navbar-nav > .active >
 a:hover, .navbar-inverse .navbar-nav > .active >
 a:focus, #myslide .carousel-indicators .active, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .option-box .gear-check {
    background-color: #e41b17;
}

/* start header */
.header .head-img {
  background-image: url("../imgs/head.jpeg");
  height:800px;
  width: 100%;
  background-size: cover;
}
.header .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%
}
/* header text & button */
.jumbotron {
  background-color: rgba(0, 0, 0, 0);

}
.jumbotron h1 {
  color: #e41b17;
  margin-bottom: 100px
}

.jumbotron i {
  color: #fff;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}
.jumbotron i:hover {
  color: #e41b17;
  margin-top: 10px
}
.jumbotron p {
  font-size: 30px;
  color: #fff
}
/* end header */

/* start about seaction */
.about {
  margin-top: 40px;
  margin-bottom: 40px;
}
.about h2 {
  font-size: 45px;
  color: #e41b17
}
.about p {
  font-size: 30px;
  padding-top: 30px;
  color: #666
}
/* end about section */

/* start our site section */
.site-sec {
  background-color: #eee;
  padding-top: 30px;
  padding-bottom: 30px
}
.site-sec  .thumbnail {
  margin-top: 30px;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}
.site-sec  a {
  text-decoration: none;
}
.site-sec  .thumbnail:hover {
  box-shadow: 5px 5px 10px #999,
             -5px -5px 20px #999;
  transform: scale(1.1,1.1);

}
.site-sec  .thumbnail img {
  width: 100%
}
.site-sec h3 {
  color: #e41b17;
  font-weight: bold;
}
