
/* main roles */
*{box-sizing: border-box}

body {
  padding-top: 60px;

}

/* main navbar */
.navbar {
  min-height: 61px;

}
/* Alert Button*/
.swal2-confirm, .swal2-styled{display: none;}

/* navbar link*/

.navbar-inverse .navbar-nav > li > a {
  color: #BBB;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  margin-left: 5px;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}
.navbar-inverse .navbar-nav > li > a:focus, /* ممكن تتزال */
.navbar-inverse .navbar-nav > li > a:hover {
  background-color: #e41b17;
}
/* navbar brand */
.navbar-inverse .navbar-brand{
  color: #bbb;
  font-size: 40px;
  line-height: 30px;
  font-weight: bold
}

/* dropdown-menu */
.dropdown-menu {
  background-color: #333;
  min-width: 200px;
}
.dropdown-menu li a {
  color: #fff;
  padding: 6px 20px;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
}
/* dropdown-menu-hover */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  padding-left: 25px
}

/* navbar-toggle */

.navbar-inverse .navbar-toggle {
  margin-top: 15px
}
.dropdown-menu > li > a, .dropdown-menu > li > a {
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
}
.navbar-inverse .navbar-nav > .active >a,
.navbar-inverse .navbar-nav > .active >a:hover,
.navbar-inverse .navbar-nav > .active >a:focus,
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
 background-color: #e41b17;
}

/* start header */
.header .head-img {
  background-image: url("../imgs/head.jpeg");
  height:800px;
  width: 100%;
  background-size: cover;
}
.header .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%
}
/* header text & button */
.jumbotron {
  background-color: rgba(0, 0, 0, 0);

}
.jumbotron h1 {
  color: #e41b17;
  margin-bottom: 100px
}

.jumbotron i {
  color: #fff;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}
.jumbotron i:hover {
  color: #e41b17;
  margin-top: 10px
}
.jumbotron p {
  font-size: 30px;
  color: #fff
}
/* end header */

/* start about seaction */
.about {
  margin-top: 40px;
  margin-bottom: 40px;
}
.about h2 {
  font-size: 45px;
  color: #e41b17
}
.about p {
  font-size: 30px;
  padding-top: 30px;
  color: #06373B
}
/* end about section */

/* start our site section */
.site-sec {
  background-color: #eee;
  padding-top: 30px;
  padding-bottom: 30px
}
.site-sec  .thumbnail {
  margin-top: 30px;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}
.site-sec  a {
  text-decoration: none;
}
.site-sec  .thumbnail{
box-shadow: 5px 5px 10px #999,
           -5px -5px 10px #999;


}
.site-sec  .thumbnail:hover {
  box-shadow: 10px 10px 15px #999,
             -10px -10px 15px #999;
  transform: scale(1.1,1.1);

}
.site-sec  .thumbnail:hover h3 {
  color: #e41b17
}
.site-sec  .thumbnail img {
  width: 100%
}
.site-sec h3 {
  color: #06373B;
  font-weight: bold;
  transition: all .75s ease-in-out;
  -webkit-transition: all .75s ease-in-out;
  -moz-transition: all .75s ease-in-out;
  -o-transition: all .75s ease-in-out;
}
/* end our site section */

/* start form-1 section */

.add-site  {
  margin-top: 40px;
  margin-bottom: 40px
}
.add-comment .img img ,
.add-site .img img {
  width: 100%
}

.add-site .form .pull-right {
  text-align: center;
  width: 100%
}
.add-comment .form h2,
.add-site .form h2 {
  color: #06373B
}
.add-comment .form .form-control,
.add-site .form .form-control {
  text-align: right;
  font-size: 22px;
  padding:  20px
}
.add-comment .form textarea,
.add-site .form textarea {
  min-height: 180px
}
.add-comment .form button,
.add-site .form button,
.footer form button {
  padding: 10px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  background-color: #e41b17
}
.add-comment {

  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee
}
.add-comment .smi-pull {
  text-align: center;
  width: 100%
}
.add-comment .cont {
  width: 100%
}
/* end form-1 section */

/* start footer section */

.footer {

  background-color: #000;
  border-color: #080808;
  border-width: 0 0 1px;
  border: 1px solid transparent;
  color: #bbb;
  box-shadow:  0 -10px 10px #999
}
.footer h2 {
  padding-bottom: 10px
}
.footer input {
  text-align: right;
  font-size: 22px;
  padding:  20px
}
.footer i {
  padding-left: 5px
}
.footer .row {
  padding-top: 10px;
  padding-bottom: 10px
}
/* end footer */
.mark {
  height: 30px;
  background-color: rgba(0, 0, 0, .9);
}
/* ***** end  main page ***** */

/* ***** start site pages ***** */
.page {
  min-height: 650px;
}
.page .controls {
 min-height: 40px;
 margin-top: 10px;
 margin-bottom: 25px;

}
.page .controls button {
  height: 50px;
  min-width: 120px;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}
#container .mix {
  margin-top: 20px;
  margin-bottom: 20px
}
